/* src/components/ManagementWithWelcomePage.css */
.management-with-welcome-container {
    display: flex;
}

.management-page,
.welcome-page {
    flex: 1;
    flex-shrink: 0;
    padding: 10px;
    box-sizing: border-box;
}